.darkenedCard {

 transition: 0.2s ease-in;
  --lightness: 20%;
  -webkit-filter: blur(0.5px) brightness(0.8);
  -moz-filter: blur(0.51px) brightness(0.8);
  -ms-filter: blur(0.51px) brightness(0.8);
  -o-filter: blur(0.51px) brightness(0.8);
  filter: blur(0.51px) brightness(0.8);
}